@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  padding: 2em;
}

h1 {
  text-align: center;
  margin: 1.5em 0;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 70%;
  padding: 3em;
  border-radius: 16px;
}

.row {
  display: flex;
  gap: 0.5em;
}

.row-number {
  align-self: center;
  font-size: 1.25rem;
}

.name {
  border: none;
  width: 200px;
  border-bottom: solid 1px white;
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
}

.names {
  margin: 0 auto 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.orange {
  color: #F08A5D;
}

.yellow {
  color: #F9ED69;
}

.pink {
  color: #FF2E63;
}

.blue {
  color: #08D9D6;
}

.green {
  color: #9CFF2E;
}

button {
  width: 120px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  font: inherit;
  color: white;
  border-radius: 8px;
  border: solid 1px white;
}
